html, body {
    height: 100%;
}

body {
    min-height:100%;
    background-image: url(https://media4.s-nbcnews.com/i/newscms/2019_36/2994406/190903-hurricane-dorian-2x1-mn_77f73153823dc692a2564006b8091722.gif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.88);
    background-size: cover;
}

.home-text{
    font-family: 'Quicksand', sans-serif;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
}

.h4, h4 {
    font-size: 15px;
}

.sub-text {
    margin-top: 35px;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
    color: white;
}

input[type=file] {
    display: contents;
    align-items: center;
}

label {
    color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1.5px;
    padding: 10px;
    cursor: pointer;
}

label:hover {
    font-size: 17px;
}

.btn {
    font-weight: 700;
    margin-top: 10px;
    -moz-box-shadow:    5px 5px 10px;
    -webkit-box-shadow: 5px 5px 10px;
    box-shadow:         5px 5px 10px;
}

input {
    border: solid, gray, 1.5px;
    padding: 10px;
}

.about {
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    float: left;
    width: 400px;
    height: 250px;
    margin: 60px;
}

.platform {
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    float: left;
    width: 400px;
    height: 250px;
    margin: 60px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}